input {
	vertical-align: middle;
	&[type=submit] {
		@extend .button;
	}
	&[type=checkbox], &[type=radio] {
		border: none;
		background-color: transparent;
	}
}

textarea {
	@include box-sizing; 
}
