html {
	height: 100%;
}

body {
	background: $body-background;
	height: 100%;
	font-family: $base-font-family;
	color: $text-color;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
	margin-top: 0;
}

h1 {
	font-size: $heading-font-size-large;
	line-height: $heading-line-height-large;
}

h2 {
	font-size: $heading-font-size-default;
	line-height: $heading-line-height-default;
}

h3 {
	font-size: $heading-font-size-small;
	line-height: $heading-line-height-small;
}

h4 {
	font-size: $font-size-default;
}

p, li {
	line-height: $line-height-default;
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}
