.accessible-hidden {
	// Text replacement / Image replacement technique - A nicer hide text -9999px alternative
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.lt-ie9 {
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

//Viewport specific display
.mobile-only {
	display:block;
}

.hide-mobile,
.desktop-only,
.tablet-only {
	display:none;
}

@include breakpoint(1) {
	/* start breakpoint 1 */
	
	.hide-mobile,
	.desktop-only {
		display: block;
	}

	.mobile-only,
	.tablet-only {
		display: none;
	}

	/* end breakpoint 1 */
}


@include respond-to(tablet) {

	.desktop-only {
		display: none;
	}

	.tablet-only {
		display: block;
	}
}

