.skip-links {
	// override some .visuallyhidden settings
	position: static;
	height: 0;
	a:focus {
		position: absolute;
		top: 1em;
		left: 1em;
		font-family: sans-serif;
		font-size: 20px;
		color: #222;
		background-color: #fff;
		padding: 0.6em 1em;
		border: 1px solid #000;
		text-decoration: none;
		z-index: 1000;
	}
}

.navigation-toggle {
	display: inline-block;
    outline: 0;
    height: 78px;
    width: 78px;
    background: #2a2d30;
    float: right;
   
    .icon-bar {
	    background: white;
	    @include rounded(1px);
	    display: block;
	    height: 2px;
	    margin: 3px auto;
	    width: 25px;
	    &:first-child {
    		margin-top: 31px;
		}
	}
}

.navigation {
	ul {
		display: none;
		margin: 0;
		clear: both;
		background: #2a2d30;
		border-top: 3px solid #232629;
		padding: 0;
		ul {
			border: 0;
			background: #34393d;
		}
	}
	li {
		list-style-type: none;
		border-top: 1px solid #232629;
		a {
			display: block;
			color: white;
			text-decoration: none;
			padding: 15px 20px;
			margin-right: 25px;
			&:hover {
				text-decoration: underline;
			}
		}
		&.has-children {
			position: relative;
			&:after {
			    content: "";
			    display: inline-block;
			    background: url("../img/svg/bg-arrows.svg") no-repeat -20px -60px;
			    width: 16px;
			    height: 10px;
			    position: absolute;
			    right: 12px;
			    top: 19px;
			}
			.lt-ie9 & {
				&:after {
					background-image: url("../img/bg-arrows.png");
				}
			}
		}
		&.expanded {
			&:after {
				background-position: 0px -60px;
			}
		}
	}
}


@include breakpoint(2) {
	.navigation-toggle {
		display: none;
	}

	.navigation {
		ul {
			display: block;
			ul {
				display: none;
				position: absolute;
				z-index: 1;
			}
			li {
				display: inline-block;
				&.has-children {
					&:after {
						display: none;
					}
				}
				&:hover {
					ul {
						display: block;
					}
				}
			}
				
		}
	}
}