/*

	8b    d8  dP"Yb  88""Yb 88 88     888888     888888 88 88""Yb .dP"Y8 888888 
	88b  d88 dP   Yb 88__dP 88 88     88__       88__   88 88__dP `Ybo."   88   
	88YbdP88 Yb   dP 88""Yb 88 88  .o 88""       88""   88 88"Yb  o.`Y8b   88   
	88 YY 88  YbodP  88oodP 88 88ood8 888888     88     88 88  Yb 8bodP'   88   

	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=Mobile%20first

	start breakpoint 0 - Mobile-first

*/

// make IE10/11 snap mode render as correct width
@-ms-viewport {
	width: device-width;
}

.content-area {
	clear: both;
}

/*

	  .d          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
	.d88 ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
	  88 """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
	  88          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   



	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=2-breakpoint

	1st breakpoint, target portrait tablets

*/

@include breakpoint(1) {
	/* start 1st breakpoint */

	@include grid-create;

	.section-canvas {
		max-width: $grid-width;
		margin: 0 auto;
	}

	/* end 1st breakpoint */
}



/*

	oP"Yb.          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
	"' dP' ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
	  dP'  """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
	.d8888          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=3-breakpoint

	2nd breakpoint, target landscape tablets and small desktops

*/

@include breakpoint(2) {
	/* start 2nd breakpoint */ 
		
	

	/* end 2nd breakpoint */
}



/*
	
	88888          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
	  .dP ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
	o `Yb """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
	YbodP          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=4-breakpoint

	3rd breakpoint, small monitors, etc

*/

@include breakpoint(3) {
	/* start 3rd breakpoint */ 
		
	

	/* end 3rd breakpoint */
} 


/*
	
	  dP88           88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
	 dP 88  ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
	d888888 """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
	    88           88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=4-breakpoint

	3rd breakpoint, small monitors, etc

*/

@include breakpoint(4) {
	/* start 4th breakpoint */ 
		
	

	/* end 4th breakpoint */
} 






