// Font size (Pixels are converted to ems)
$base-font-value: 16 !default; //Default base font in pixels, excluding units i.e "px".

$font-size-default: convert-px($base-font-value) !default;
$font-size-large: convert-px(18) !default; //value in px
$font-size-small: convert-px(12) !default;

$heading-font-size-large: convert-px(34) !default;
$heading-font-size-default: convert-px(30) !default;
$heading-font-size-small: convert-px(20) !default;


//Line heights (Defined as a percentage of the provided font-size.
$line-height-large: set-line-height($font-size-large, 65%) !default;
$line-height-default: set-line-height($font-size-default, 65%) !default;
$line-height-small: set-line-height($font-size-small, 65%) !default;

$heading-line-height-large: set-line-height($heading-font-size-large) !default;
$heading-line-height-default: set-line-height($heading-font-size-default, 55%) !default;
$heading-line-height-small: set-line-height($heading-font-size-small) !default;
