// Grid
$grid-width: 1105px;
$grid-columns: 12;
$grid-gutter-width: 2%;


// Responsive breakpoints (Pixels converted to ems)
$breakpoint-1: convert-px(568);
$breakpoint-2: convert-px(768);
$breakpoint-3: convert-px(1025);
$breakpoint-4: convert-px(1200);

// Responsive debug bar (For development only: Change to "true" to enable)
$debug: false;

// Colours
$black: #000;
$white: #fff;


// Colours - Page Elements
$body-background: #fff;
$text-color: #000;
$link-color: #294493;
$link-color-hover: #4665ba;


// Fonts
$base-font-value: 14; //base font in pixels, excluding units i.e "px"


//@include web-font('my font name','/fonts/fontpath/','font-file-name');
$base-font-family: Arial, Helvetica, Georgia, sans-serif;
$alternate-font-family: Georgia, "Times New Roman", Times, serif;
$special-font-family: $alternate-font-family;


// Margin and Padding
$margin-default :1em;
$margin-large: $margin-default * 1.2;
$margin-small: $margin-default * 0.8;
$margin-mini: $margin-default * 0.6;

$padding-default :0.6em;
$padding-large: $padding-default * 1.2;
$padding-small: $padding-default * 0.8;
$padding-mini: $padding-default * 0.3;


